<!-- show emotions, and events by that emotion -->
<div class="map">
</div>
<div class="content">
  <% @emotion.events.each do |event| %>
  <div class="events event<%=event.emotion_id%>">
    <div class="event-details">
    <h2> <%= "#{event.title}" %> </h2>
    <h5> <%= "#{event.datetime}" %> <i class="fa fa-glass"></i>  <i class="fa fa-cutlery"></i></h5>
    <h5> <%= "#{event.location}" %> </h5>
  </div>
</div>
  <% end %>
</div>
