<!-- show emotions, and events by that emotion -->
<% @emotion.events.each do |event| %>

<div class="event">
  <h2> <%= "#{event.title}" %> </h2>
  <h5> <%= "#{event.datetime}" %> </h5>
  <h5> <%= "#{event.location}" %> </h5>
</div>
<% end %>
