<!-- show emotions, and events by that emotion -->
<div class="map">
</div>

<div class="content">
  <% @emotion.events.each do |event| %>
  <div class="events">
    <div class="events event<%=event.emotion_id%>">
        <h2> <%= link_to "#{event.title} (#{event.location})", emotion_event_path(@emotion, event), class: "event-link" %></h2>
        <h5> <%= "#{event.datetime.strftime("%a %b %d")}" %> <i class="fa fa-glass"></i>  <i class="fa fa-cutlery"></i></h5>
        <h5> <%= "#{event.location}" %> </h5>

    </div>
  </div>
  <% end %>
</div>
