/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *, *:before, *:after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
 }

* {
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: lighter;
  text-align: left;
  font-size:20px;
  color: white;

}

body{
  background-color: #758F95;
}

.site-container {
  width: 100%;
  height: 100%;
  padding: 0;
}

#prompt {
  height: 40%;
  padding: 0 20px 0 20px;
  background-color: #758F95;
  color: white;
  box-shadow: none;
}

#map{
  width: 100%;
  height: 500px;
  margin-bottom: 0px;
}

h1 {
  font-size: 1.5em;
  font-weight: 200;
}


.events {
  width: 100%;
  /*padding: 20px;*/
  /*margin: 0 0 10px auto;*/
  color: white;
}
.emo-index {
  /*margin-top: 18px;*/
  padding: 20px 20px 20px 30px;
  height: 20%;
  color: white;
  /*padding: 0 20px 0 20px;*/
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
}

.event-link{
  color: white
}

.event-link:visited{
  color: white
}

.event1 {
  background-color: #2CCAEB;
}

.event2 {
  background-color: #00C479;
}

.event3 {
  background-color: #DE332E;
}
.event-description1 {
  background-color: #009FC0;
}
.event-description2 {
  background-color: #32A177
}
.event-description3 {
  background-color: #BE1E32
}


/*.event div:nth-of-type(even){
  background-color: #00C479;
}

.event div:nth-of-type(odd){
  background-color: #32A177;
}*/


#emo1 {
  background-color: #2CCAEB;
}

#emo2 {
  background-color: #00C479;
}

#emo3 {
  background-color: #DE332E;
}

a {
  /*margin-top: 20px;*/
  text-decoration: none;
  color: white;
}
a:visited {
  color: white;
}

.fixed-nav-bar {
  width: 100%;
}
.nav-link {
  display: inline;
  color: #758F95;
}
.nav-link a:visited {
  color: #758F95;
}

h5 {
  font-weight: 200;
}

i{
  display: block;
}

.new_user{
  margin: 5%;
}
#user_email{
  height: 40px;
  width: 25%;
  border: none;
  border-bottom: 3px solid #758F95;
  outline: none;
  margin: 1%;
}

#user_password{
  height: 40px;
  width: 25%;
  border: none;
  border-bottom: 3px solid #758F95;
  outline: none;
  margin: 1%;
}

#user_password_confirmation{
  height: 40px;
  width: 25%;
  border: none;
  border-bottom: 3px solid #758F95;
  outline: none;
  margin: 1%;
}

.eventshow{
 padding: 30px;
 background-color: #2CCAEB ;
 color: white;
 height: 100em;
}

.backbutton {
color: #FFFFFF ;
font-size: 36px;
}


.eventdetail{
 /*margin: 10px;*/
 /*padding: 0px;*/
 color: white;
}

.event-header{
  font-size: 28px;
  font-weight: 300;
  padding-bottom: 10px;
}

li {
  list-style-type: none;
}
.backbutton {
padding-top: 10px;
display: block;
}

@media (min-width: 80em){
  .content {
    margin: 0 auto;
    width: 50%;
    /*margin-top: 10px;*/
    padding-top: 45px;
    padding-left: 70px;
    padding-right: 70px;
    height: 100%;
  }
}

@media (max-width: 80em){
.fixed-nav-bar {
  display: none;
  }
}
